<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.thymeleaf.org"
        layout:decorate="~{/dashboard/layout}">
<head>
    <title>Home</title>
</head>
<body>
<div layout:fragment="container" class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Welcome Admin Panel Of TRIPS </h1>
    <a type="button" class="btn btn-primary" th:href="@{/admin/banner/generate-link}">SEND TO MARKETING SPECIALIST</a>

</div>
</body>
</html>