<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.thymeleaf.org"
        layout:decorate="~{/dashboard/layout}">
<head>
    <title>Category</title>
</head>
<body>
<div layout:fragment="container" class="container-fluid">
    <a href="/admin/tag/create" class="btn btn-success btn-sm">Create</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>

        </tr>
        </thead>
        <tbody >
        <tr th:each="tag : ${tags}">
            <th th:text="${tag.id}"></th>
            <td th:text="${tag.name}"></td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>