<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.thymeleaf.org"
        layout:decorate="~{/dashboard/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div  layout:fragment="container" class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Tables</h1>
    <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
        For more information about DataTables, please visit the <a target="_blank"
                                                                   href="https://datatables.net">official DataTables documentation</a>.</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">
                <a class="btn btn-success btn-sm" href="/admin/trip/create">Create</a>

            </h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Content</th>
                        <th>Image</th>
                        <th>Background Image</th>
                        <th>Created Date</th>
                        <th>Updated Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="trip : ${trips}">
                        <td th:text="${trip.id}">Tiger Nixon</td>
                        <td th:text="${trip.name}">Tiger Nixon</td>
                        <td th:text="${trip.description}">Tiger Nixon</td>
                        <td th:text="${trip.price}">Tiger Nixon</td>

                        <td th:utext="${trip.content}">Tiger Nixon</td>

                        <td>
                            <img width="100px" height="100px" th:src="${trip.imageUrl}"/>
                        </td>
                        <td>
                            <img width="100px" height="100px" th:src="${trip.bakcImageUrl}"/>
                        </td>
                        <td th:text="${trip.createdDate}"></td>
                        <td th:text="${trip.updatedDate}"></td>
                        <td>
                            <a th:href="'/admin/trip/update/'+${trip.id}" class="btn btn-outline-warning btn-sm">Update</a>
                            <button th:onclick="'remove('+${trip.id}+')'" class="btn btn-outline-danger btn-sm">Delete</button>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Content</th>
                        <th>Image</th>
                        <th>Background <Image></Image></th>
                        <th>Created Date</th>
                        <th>Updated Date</th>
                    </tr>
                    </tfoot>

                </table>
            </div>
        </div>
    </div>

</div>

<th:block layout:fragment="myScript">
    <script>
        function remove(id){
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: "btn btn-success",
                    cancelButton: "btn btn-danger"
                },
                buttonsStyling: false
            });
            swalWithBootstrapButtons.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Yes, delete it!",
                cancelButtonText: "No, cancel!",
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    swalWithBootstrapButtons.fire({
                        title: "Deleted!",
                        text: "Your file has been deleted.",
                        icon: "success"
                    });
                    window.location="/admin/trip/remove/"+id;
                } else if (
                    /* Read more about handling dismissals below */
                    result.dismiss === Swal.DismissReason.cancel
                ) {
                    swalWithBootstrapButtons.fire({
                        title: "Cancelled",
                        text: "Your imaginary file is safe :)",
                        icon: "error"
                    });
                }
            });
        }
    </script>

</th:block>

</body>
</html>