<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.thymeleaf.org"
        layout:decorate="~{/dashboard/layout}">
<head>
    <title>Article Create</title>
</head>
<body>
<div layout:fragment="container" class="container-fluid">
    <div>
        <form action="/admin/trip/create" method="post" enctype="multipart/form-data">
            <div class="form-group" >
                <input  type="text" name="name" placeholder="Title" class="form-control" />
            </div>

            <div class="form-group" >
                <input  type="text" name="description" placeholder="Description" class="form-control" />
            </div>
            <div class="form-group" >
                <input  type="number" name="price" placeholder="Price" class="form-control" />
            </div>
            <div class="form-group" >
                <textarea type="text"   id="myInput" name="content" placeholder="Content" class="form-control"> </textarea>
            </div>
            <div class="form-group" >
                <input  type="text" name="imageUrl" placeholder="photoUrl" class="form-control" />
                //Articlecreatedto nun icerisindeki fieldlere esasen isleyir

            </div>
            <div class="form-group" >
                <input  type="text" name="backImageUrl" placeholder="Background Image Url" class="form-control" />
                //Articlecreatedto nun icerisindeki fieldlere esasen isleyir

            </div>

            <input type="submit" value="Create" class="btn btn-success">
        </form>
    </div>

</div>
</body>
</html>